<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock %} — {{ config.values.PROJECT.name }}</title>

    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="{{ '/static/new.min.css'|url }}">
    <style>
        article > .title > a {
            color: var(--nc-tx-1);
            text-decoration: none;
        }
        article > .title > a:hover {
            text-decoration: underline;
            color: var(--nc-lk-2);
        }
    </style>
</head>
<body>
    <header>
    <h1>{{ config.values.PROJECT.name }}</h1>
    <nav>
    <a href="/">Home</a> /
    {% for item in site.root.children.filter(F._model == "page") %}
    <a href="{{ item|url }}">{{ item.title }}</a> {% if not loop.last %}/{% endif %}
    {% endfor %}
    </nav>
    </header>

    {% block body %}
    {% endblock %}

    <hr>

    <div style="font-size:90%; text-align:center; font-style: italic;">
        This is a Quick Site, <a href="https://gitlab.com/stavros/quicksite">make your own</a>!
    </div>
</body>
</html>
